.justify-content-center{
    margin-top: 50px;
}
.row.item_name{
 display: flex;
 justify-content: left;
 margin-top:30px; 
 margin-left:40px;
}


.col-md-5 h2{
    margin-left:55px;
    color: rgb(41, 93, 114);
    font-weight: bold;
    font-size: 40px;
}

.card-header a{
    font-size:18px;
    color:rgb(41, 93, 114);
}


.card-header a:hover{
  color:#3366CC;
}

.card-body p {
    font-size: 18px;
}


.recomend h2{
    margin-top:80px;
    color: rgb(41, 93, 114);
    font-weight: bold;
    font-size: 40px;
    border-bottom: medium solid #3366CC;
}

.row.justify-content-center.recomend{
    margin:50px 0px 100px 0px ;
    
}



@media (max-width: 750px){

.col-md-4.col-sm-3{
    padding:0px;
}

.row.item_name{
    display: flex;
    justify-content: center;
}

.col-md-5 h2{
    
    color: rgb(41, 93, 114);
    font-weight: bold;
    font-size: 23px;
}

}